_libgcc_mutex
_openmp_mutex
accelerate
alsa-lib
annotated-types
anyio
attrs
beautifulsoup4
bleach
brotli
brotli-bin
bzip2
ca-certificates
cairo
certifi
charset-normalizer
click
contourpy
cycler
cyrus-sasl
dbus
defusedxml
dill
docling
docling-core
docling-ibm-models
docling-parse
double-conversion
easyocr
et-xmlfile
fastjsonschema
filelock
filetype
font-ttf-dejavu-sans-mono
font-ttf-inconsolata
font-ttf-source-code-pro
font-ttf-ubuntu
fontconfig
fonts-conda-ecosystem
fonts-conda-forge
fonttools
freetype
fsspec
graphite2
h11
harfbuzz
hf-xet
httpcore
httpx
huggingface-hub
icu
idna
imageio
jinja2
joblib
jsonlines
jsonref
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyterlab-pygments
keyutils
kiwisolver
krb5
latex2mathml
lazy-loader
lcms2
ld_impl_linux-64
lerc
libblas
libbrotlicommon
libbrotlidec
libbrotlienc
libcblas
libclang-cpp20.1
libclang13
libcups
libdeflate
libdrm
libedit
libegl
libexpat
libffi
libfreetype
libfreetype6
libgcc
libgcc-ng
libgfortran
libgfortran-ng
libgfortran5
libgl
libglib
libglvnd
libglx
libgomp
libiconv
libjpeg-turbo
liblapack
libllvm20
liblzma
libnsl
libntlm
libopenblas
libopengl
libpciaccess
libpng
libpq
libsqlite
libstdcxx
libstdcxx-ng
libtiff
libuuid
libwebp-base
libxcb
libxcrypt
libxkbcommon
libxml2
libxslt
libzlib
lxml
markdown-it-py
marko
markupsafe
matplotlib
matplotlib-base
mdurl
mistune
mpire
mpmath
multiprocess
munkres
nbclient
nbconvert
nbformat
ncurses
networkx
ninja
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
ollama
opencv-python-headless
openjpeg
openldap
openpyxl
openssl
packaging
pandas
pandocfilters
pcre2
pillow
pip
pixman
platformdirs
pluggy
psutil
pthread-stubs
pyclipper
pydantic
pydantic-core
pydantic-settings
pygments
pylatexenc
pyparsing
pypdfium2
pyside6
python
python-bidi
python-dateutil
python-docx
python-dotenv
python-pptx
python-tzdata
python_abi
pytz
pyyaml
pyzmq
qhull
qt6-main
readline
referencing
regex
requests
rich
rpds-py
rtree
safetensors
scikit-image
scikit-learn
scipy
semchunk
setuptools
shapely
shellingham
six
sniffio
soupsieve
sympy
tabulate
threadpoolctl
tifffile
tinycss2
tk
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
triton
typer
typing-extensions
typing-inspection
tzdata
unicodedata2
urllib3
wayland
webencodings
wheel
xcb-util
xcb-util-cursor
xcb-util-image
xcb-util-keysyms
xcb-util-renderutil
xcb-util-wm
xkeyboard-config
xlsxwriter
xorg-libice
xorg-libsm
xorg-libx11
xorg-libxau
xorg-libxcomposite
xorg-libxcursor
xorg-libxdamage
xorg-libxdmcp
xorg-libxext
xorg-libxfixes
xorg-libxi
xorg-libxrandr
xorg-libxrender
xorg-libxtst
xorg-libxxf86vm
zstd
